$backgroundColor: #282C35;
$bodyColor: #ffffff;
$bodyFont: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$white: #ffffff;
$brand: #E71D36;
$accent: #E3D26F;
$muted: #a9a9a9;

$base-size: 0.8rem; /* 16px */
$golden-ratio: 1.618;
$base-size-sm: 0.75rem;
$golden-ratio-sm: 1.333;

$button-color-primary: #ffffff;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.muted {
  color: $muted !important;
}

// NAV STYLES

nav.navbar {
  background-color: $backgroundColor;
  color: $white;
}

nav a.navbar-brand,
nav a.navbar-brand:hover {
  color: $white;
}

nav a.nav-link {
  color: $white;
  border-bottom-color: $white;
  border-bottom: 0.15em solid;
  transition: border-bottom-color 0.25s ease;
}

.nav-link:focus,
.nav-link:hover {
  border-bottom-color: $brand;
  color: $white;
}

.navbar-nav .nav-link.active {
  color: $brand;
  border-bottom-color: $brand;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: end;
  }
}

// MASTHEAD STYLES

.masthead {
  min-height: 80vh;
}

.profile_headshot {
  height: 15em;
  border-radius: 50%;
}

/* font sizings */
.masthead p {
  font-size: $base-size !important;
}

.masthead h3 {
  /* 1.618 times the base size */
  font-size: calc($base-size) * $golden-ratio !important;
}

.masthead h2 {
  /* 1.618 times the h3 size */
  font-size: calc($base-size * $golden-ratio * $golden-ratio) !important;
}

.masthead h1 {
  /* 1.618 times the h2 size */
  font-size: calc(
    $base-size * $golden-ratio * $golden-ratio * $golden-ratio
  ) !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 860px;
  }
}

// BUTTONS
.btn-outline-primary {
  color: $button-color-primary;
  border-color: $button-color-primary;
  border-radius: 0;
}

.btn-outline-primary:hover {
  background-color: $brand;
  border-color: $brand;
}

/* ANIMATIONS */

.main_content {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// FEATURED ARTICLES
section.featured-articles>.title-col {
  border-bottom: 1px solid $brand;
}

// CARDS
.card {
  background-color: transparent;
  color: $white;
  border: none;
}